/* 
*/
* {
    box-sizing: border-box;
  }
  
  /* is this the glove that pops up when you hover over SEO, ORM and SMM? */
  form.example button:hover {
    background: #0b7dda;
  } 
  
  /* I don't know what this does exactly*/
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

body {
    background-color: #d9dcd6;
}
/* color font and padding for  Horiseon header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#0c557d; 
    color: #ffffff;
}

/* font size for the Horiseon header */
.header h1 {
    display: inline-block;
    font-size:48px;
}

/* color for the 'seo' section of the Hoiseon header*/
.header h1 .seo {
    color: #52b410;
    /*  color: #d2d5d0; */
}

/* parameters for the nav selectable options in the Hoiseon header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}
/* parameters for the nav selectable options in the Hoiseon header*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*color for nav selectable options*/
a {
    color: #ece2e2;
    text-decoration: none;
}
/* maybe move this down? font size for paragraph in SEO card*/
p {
    font-size: 16px;
}
/* This is for the hero pic. THe image at the top with the people in a meeting.*/
/* need some way to handle what's displayed if the image is not available. Onerror?*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;

    /*attempt to leave an alt message if the image was not available.
    background-image: url("../images/digital-marketing-meeting.jpg");*/
    /*background-image: <img src="<a href="../images/digital-marketing-meeting.jp">../images/digital-marketing-meeting.jpg alt="Laptop displaying 'REPUTATION' and graphics"/></a>" */
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* sets parameters for left margin of the three cards */
.content {
    width: 75%;
    display: inline-block; 
    margin-left: 20px;
}
/* sets parameters for the benefit section along the right of the screen */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets margin and color for lead generation lablel and paragraph*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets margin and color for 
brand awareness lablel and paragraph*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* sets margin and color for cost management lablel and paragraph*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets margin and alignment for Lead Gen header*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
 
/* sets margin and alignment for Brand Awareness header*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* sets margin and alignment for Cost Management header*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Sets size params for 1st image in the side bar*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Sets size params for 2nd image in the side bar*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Sets size params for 3rd image in the side bar*/
/* decreased the margin from 50 to allow for the Word 'Optimizatioin' to fit correctly*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* parameters for the SEO card*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 15px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* parameters for the ORM card*/
.online-reputation-management {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 15px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* parameters for the SME card*/
.social-media-marketing {
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 15px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* define the image used in the SEO card*/
.search-engine-optimization img {
    max-height: 250px;
}
/* define the image used in the ORM card*/
.online-reputation-management img {
    max-height: 250px;
}
/* define the image used in the SMM card*/
.social-media-marketing img {
    max-height: 250px;
}
/* define params for SEO lable inside SEO card*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* define params for ORM lable inside ORM card*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* define params for SMM lable inside SMM card*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* an attempt to correct the text wrap problem */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* footer declaration to accomodate search*/
.footer h2 {
    font-size: 20px;
}
